[Unit]
Description=Alarm Clock Service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/opt/fastlane/alarm-clock
ExecStart=/usr/bin/python3 alarm-clock.py

[Install]
WantedBy=multi-user.target